.set-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem;
}