.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header h1{
    padding: 5rem;
    color: #232b2b;    ;
    font-size: 5rem;
}

.set-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 5rem;
    padding: 1rem;
    background-color: #232b2b
}

.navbar__links>*{
    margin: 1rem;
    font-size: 2rem;
}

.navbar__links>*:hover{
    color: #C0C0C0
}


@import '~antd/dist/antd.css';